.link {
  text-decoration: underline;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  margin-top: 40px;
  margin-bottom: 20px;
}

.textGray {
  color: rgba(104, 106, 106, 1);
  font-size: 14px;
  margin-bottom: 0;
}

.cardContent {
  display: flex;
  justify-content: space-between;
}

.description {
  max-width: 85%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.list {
  display: flex;
  list-style: none;
  padding-left: 0px;
}

.list > li {
  padding: 10px;
}

.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.tag {
  margin-bottom: 40px;
}

.tag > span {
  margin: 5px;
  padding: 7px;
  font-size: 12px;
  background-color: #d3d3d3;
  border-radius: 20px;
}

.tag > b {
  font-size: 12px;
  margin-left: 20px;
}

.image {
  width: 200px;
  height: 200px;
  position: "relative";
}
