.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: solid;
  margin: auto;
}

.nav ul {
  display: flex;
  list-style: none;
}

.nav ul li {
  margin: 20px;
}

.container {
  max-width: 40%;
  margin-top: 70px !important;
  margin: auto;
}

@media (max-width: 768px) {
  .container {
    max-width: 90%;
  }
}
