.img {
  background: url("../assets/cover.png");
  height: 150px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  background-color: #072b4e;
}

.container {
  max-width: 40%;
  margin-top: 70px !important;
  margin: auto;
}

@media (max-width: 768px) {
  .container {
    max-width: 90%;
  }
}
